@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden; /*Esconder barra horizontal*/
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 500;
    color: #ffffff; 

    
  }

  /* Esto es para los inputs */
  input[type="text"],
  input[type="email"],
  textarea {
    color: black; 
    background-color: white; 
  }